.todo {
  display: flex;
  padding: 1rem 1rem;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  border-bottom: 1px solid #9394a5;
}
.todoDark {
  background-color: #25273c;
  border-bottom-color: hsl(237, 14%, 26%);
  color: hsl(234, 39%, 85%);
}

@media only screen and (max-width: 450px) {
  .todo {
    padding: 1.5rem;
  }
}

.checkboxDiv {
  position: relative;
  flex-basis: 3%;
}

.checkbox {
  display: none;
}

.label {
  border: 1px solid;
  top: 50%;
  left: 50%;
  height: 1.2rem;
  width: 1.2rem;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.checkbox:checked + label {
  background-image: linear-gradient(to right, #57ddff, #c058f3);
}

.label img {
  opacity: 0;
}
.checkbox:checked + label img {
  opacity: 1;
}
.todoPara {
  flex-basis: 86%;
}

@media only screen and (max-width: 450px) {
  .todoPara {
    padding-left: 0.8rem;
  }
}

.completed {
  color: #9394a5;
  text-decoration: line-through;
}

.delete {
  border: none;
  background-color: transparent;
  height: 1.3rem;
  cursor: pointer;
  flex-basis: 4%;
  margin-left: 0.5rem;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.todo:hover .delete {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}