.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.heading{
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}

.themeBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}