.todoContainer {
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0rem 0rem;
  background-color: #fff;
  margin-bottom: 3rem;
}

.todoContainerDark {
  background-color: #161720;
}

.btnContainer {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9394a5;
  padding: 1rem 1rem;
}

.btnContainerDark {
  background-color: #25273c;
}
@media only screen and (max-width: 450px) {
  .btnContainer {
    padding-top: 0.5rem;
  }
}

.desktopBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 40%;
}
.containerBtn {
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  padding: 0.2rem 0.3rem;
}

.containerBtn:hover {
  color: #484b6a;
}
.containerBtn:focus {
  color: #3a7bfd;
}

.mobileBtn {
  display: none;
}

@media only screen and (max-width: 450px) {
  .mobileBtn {
    display: block;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    color: #9394a5;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }
  .mobileBtnDark {
    background-color: #25273c;
  }
  .desktopBtn {
    display: none;
  }
}
